:root { /*For larger screens*/
  --menu-float: left;
  --menu-position: fixed;
  --content-float: right;
}
@media (max-width: 600px){ 
  :root{
    --menu-float: none;
    --menu-position: static;
    --content-float: none;
  }}
body { /*For smaller screents*/
  align-content: start;
  margin: auto;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}



navbar{
   display: flex;
   float: var(--menu-float);
   position: var(--menu-position);
   width: 25vw; 
   justify-content: flex-start; /*(alignment across primary axis, usually horizontal*/
   align-items: flex-start; /*(alignment across secondary axis, usually vertical*/
   grid-area: nav;
   transition: .3s background-color; 
   font-size: 1.1em;
  }
  navbar a:hover {
   background-color: grey;
   color:white;
  }
  .menu{
   list-style-type: none;
  }
  .nav-link{
    display: block;
    text-decoration: none;
    padding: 15px;
  }
.content {
  grid-area: content;
  float: var(--content-float);
  width: 75vw;
}

